# I've used this gitignore for Java projects so many times idr where it comes from
# I think it's a fabric example mod of some sort ... the cottonmc one?

# Compiled nonsense that does not belong in *source* control
/build
/bin
/.gradle
/minecraft
/out
/run
/target
/classes

# IDE nonsense that could go in source control but really shouldn't
.classpath
.project
.metadata
.settings
*.launch
*.iml
.idea
*.ipr
*.iws

# Sekrit files
private.properties
private.gradle

# Files from bad operating systems :^)
Thumbs.db
.DS_Store
local.properties
.directory
